<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="app">

    <header class="header row">
      <nav class="small-12 small-centered columns">
        <%= link_to "", root_path, :class => "ms-logo" %>
        <ul class="nav">
          <li <%= 'class=active' if current_page?(root_path) %>><%= link_to "Store Reviews", root_path %></li>
          <li <%= 'class=active' if current_page?(store_performance_path) %>><%= link_to "Store Performance", store_performance_path %></li>
          <li <%= 'class=active' if current_page?(ranking_path) %>><%= link_to "Store Ranking", ranking_path %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
